.myprofile-title {
  background-color: midnightblue;
  color: white;
  margin: 0;
  height: 500px;
  display: grid;
  margin-bottom: 7vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr 1fr;
}

.myprofile-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 3rem;
  font-weight: bold;
}

.myprofile-address {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 1rem;
}

.myprofile-content {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: auto auto;
  grid-template-areas: "panel blocks" "empty blocks";
}

.myprofile-linkpanel {
  grid-area: panel;
  left: 5vw;
}

.myprofile-blocks {
  grid-area: blocks;
  display: grid;
  width: 100%;
  padding: 0 1vw;
  grid-template-columns: 100%;
  grid-row-gap: 100px;
}

.myprofile-block {
  display: grid;
}


.myprofile-project {
  display: grid;
  grid-gap: 100px;
}