.SpaceBoard {
    background-color: #0f1028;
    flex: 1;
}

.Object {
    margin: 0;
    padding: 0;
    position: absolute;
}

.Earth {
    height: 40vmin;
    pointer-events: none;
    left: 40%;
    top: 30%;
}

.Moon {
    height: 10vmin;
    pointer-events: none;
    left: 30%;
    top: 10%;
}

.RubbishBin {
    height: 35vmin;
    right: 0px;
    bottom: 0px;
}

.PaperBall {
    height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .Earth {
        animation: Spin infinite 30s linear;
    }
    .Moon {
        animation: Spin infinite 50s linear;
    }
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
