.mydesk {
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "empty1 empty6 to-do-list"
    "empty4 empty5 empty3";
}

.mydesk .to-do-list {
  grid-area: to-do-list;
  justify-self: center;
  width: 50%;
}

.mydesk-empty {
  grid-area: none;
}