.coding-room {
  height: 100%;
  padding: 1vmin;
  display: grid;
  grid-gap: 1vmin;
  grid-template-rows: 30px 60% auto;
  grid-template-columns: auto 55% 50px;
  grid-template-areas:
  "docs-tab console run-button"
  "docs-tab main-editor main-editor"
  "docs-tab output-box output-box";
}

.coding-room .console {
  grid-area: console;
}

.coding-room .run-button {
  grid-area: run-button;
}

.coding-room .main-editor {
  grid-area: main-editor;
}

.coding-room .docs-tab {
  grid-area: docs-tab;
}

.coding-room .output-box {
  grid-area: output-box;
}





.docs-editor {
  width: 100%;
  display: grid;
  grid-gap: 1vmin 1vmin;
  grid-template-columns: 40% auto;
}

.codingroom-docs-tips {
  display: grid;
  margin-top: 30px;
  padding: 0 30px;
  grid-gap: 30px;
  grid-template-rows: repeat(auto-fit, auto);
}

.questionboard-sortpanel {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.questionboard-horizontal {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 200px;
  padding: 100px 25px;
}

.questionboard-vertical {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-around;
  grid-column-gap: 50px;
  grid-row-gap: 200px;
  padding: 50px 25px;
}

.edit-level > div {
  padding-left: 25px;
  font-size: 0.75em;
}

.codingboard-right {
  width: 400px;
}