.Page {
    text-align: left;
}

.Header {
    position: relative;
    margin: 3px 1vw;
}

.ExceptFooter {
    display: flex;
    flex-direction: column;
}

#Timer {
    position: relative;
    right: 0;
}

.MainFrame {
    position: relative;
    text-align: left;
    margin: 1vh 1vw;
    flex: 1;
}

#codeEditor {
    position: absolute;
    left: 40%;
    top: 0;
    width: 60%;
    height: 100%;
    border: 3px solid darkgray;
}

 #docs {
    position: absolute;
    margin: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border: 3px solid darkgray;
}


.Memo {
    position: relative;
    height: 79.5vh;
}

.Timer {
    position: absolute;
    top: 0;
    right: 0;
}

