.coding-room {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px 10px;
  grid-gap: 1vmin;
  grid-template-rows: auto 30px 60% 1fr;
  grid-template-columns: 35% 1fr auto;
  grid-template-areas:
  "header header header"
  "docs-tab console run-button"
  "docs-tab main-editor main-editor"
  "docs-tab output-box output-box";
  overflow: hidden;
}

.coding-room .header {
  grid-area: header;
}

.coding-room .console {
  grid-area: console;
  display: flex;
  flex-direction: row;
}

.coding-room .run-button {
  grid-area: run-button;
}

.coding-room .main-editor {
  grid-area: main-editor;
}

.coding-room .output-box {
  grid-area: output-box;
}

.coding-room .docs-tab {
  grid-area: docs-tab;
  overflow-y: scroll;
}


