.page-blobs {
  display: grid;
  grid-gap: 20px;
  padding: 20px 20px;
}

.sidebar {
  display: grid;
}

.sidebar-col {
  width: 100%;
  height: 2em;
  font-size: 1.25em;
  border-radius: 0.1em;
  padding: 0 2em;
  text-align: left;
}

.classroom {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header"
  "sidebar page";
}

.classroom-header {
  min-height: 550px;
  grid-area: header;
  color: white;
  margin: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 30px 1fr;
  grid-template-areas:
  "none none1 none2"
  "none3 title none4"
  "none5 info none6"
  "none7 none8 none9"
}

.classroom-title {
  grid-area: title;
  font-size: 2.5rem;
}

.classroom-info {
  grid-area: info;
}

.classroom-sidebar {
  grid-area: sidebar;
  border-right: 1px solid lightgray;
  margin: 5vh 0;
  min-width: 10vw;
  width: 350px;
}

.classroom-page {
  grid-area: page;
  min-height: 100vh;
  padding: 100px 10px;
}

.classroom-page .class-title {
  font-size: 2em;
  margin-bottom: 50px;
}

.classboard-header {
  display: grid;
  padding: 1vh 1vw;
  padding-bottom: 10vh;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.classboard-title {
  grid-column: 1 / 2;
  justify-self: left;
}

.classboard-searchbox {
  grid-column: 2 / 3;
}