#terminal {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
}

#runButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: dodgerblue;
    color: white;
    width: 126px;
    height: 42px;
    border: 1px solid darkgray;
}

#runButton:hover {
    background-color: blue;
}
