.OnePhrase {
    position: relative;
    margin: 2vh 2vw;
    z-index: 9999;
    text-align: right;
}

#phrase {
    position: relative;
    right: 0;
    font-family: "Caveat";
    color: lightgray;
}

#signature {
    position: relative;
    right: 0;
    top: 0;
}
