.setting {
  min-height: 70vh;
  margin: 5vh 5vw;
}

.website-setting-row {
  margin: 1em 0;
  text-align: left;
  padding: 2em 0;
}

.website-setting-serverLocation {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.website-setting-buttons {
  grid-row: 3 / 4;
  justify-self: right;
  margin-right: 15vw;
}