.sort-panel {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.questionboard-horizontal {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 200px;
  padding: 100px 25px;
}

.questionboard-vertical {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-around;
  grid-column-gap: 50px;
  grid-row-gap: 200px;
  padding: 50px 25px;
}
