
.tips {
  margin: 2px 1rem;
}

.tips .title {
  font-size: 1.5em;
  text-align: center;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
}

.tips h5 {
  margin-bottom: 2rem;
}

.tips .tip {
  margin-bottom: 1rem
}

.tip-box {
  margin-bottom: 1rem;
}
