.footer {
  margin-top: 350px;
  height: 500px;
}

.footer-grid {
  padding: 0 1vw;
  height: 50px;
  color: black;
  display: grid;
  align-items: center;
  grid-template-areas:
  "left center right";
}

.footer-grid .left {
  grid-area: left;
  text-align: left;
}

.footer-grid .right {
  grid-area: right;
  text-align: right;
}
