.sidebar {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar-col {
  height: 1.5em;
  margin: 0.25em 0;
  font-size: 1.2em;
  border-radius: 0.1em;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr auto;
}

.sidebar-col .title {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  justify-self: left;
  transition: all 0.25s;
}

.sidebar-col .title:hover {
  transform: scale(1.1);
}

.sidebar .ops {
  justify-self: right;
}

