.app-page {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "main";
}

.app-page .main {
  grid-area: main;
}

.normal-page {
  display: grid;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar" "main" "footer";
}

.normal-page .main {
  grid-area: main;
  min-height: 100vh;
}

.app-page .navbar, .normal-page .navbar {
  grid-area: navbar;
  height: 50px;
}

.normal-page .footer {
  grid-area: footer;
  height: 50px
}

.header {
  width: 100%;
  height: 2rem;
  margin: 1vh 0;
  padding: 0 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-header > .left {
  grid-column: 1 / 2;
  justify-self: left;
}

.header > .center {
  grid-column: 2 / 3;
  justify-self: center;
}

.header > .right {
  grid-column: 3 / 4;
  justify-self: right;
}

.header .title {
  font-size: 1.5rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.header .op {
  font-size: 1rem;
}