* {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

textarea, pre {
  -moz-tab-size: 4;
  tab-size: 4;
}

.bg-light {
  background-color: white;

}

.bg-dark {
  background-color: #151518;
}

.button-basic {
  border: 2px solid lightgray;
  color: black;
  text-decoration: none;
}

.form {
  justify-items: left;
  min-width: 200px;
  width: auto;
  display: grid;
  padding-left: 7.5%;
  grid-template-rows: repeat(auto-fit, auto);
  grid-gap: 25px;
}

.form-button {
  height: 40px;
  justify-self: center;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover, .link:link .button-basic:hover {
  color: dimgray;
  text-decoration: none;
}

.grid-row {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}


.page-app {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "page-app-main";
}

.page-app-main {
  grid-area: page-app-main;
}

.page-normal {
  display: grid;
  width: 100vw;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "navbar" "page-normal-main" "footer";
}

.page-normal-main {
  grid-area: page-normal-main;
  min-height: 100vh;
}

.page-navbar {
  grid-area: navbar;
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.page-footer {
  grid-area: footer;
  width: 100vw;
  height: 50px;
}

.border-black {
  border: 1px solid black;
}

.border-basic {
  border: 2px solid lightgray;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.abs-right {
  position: absolute;
  right: 0;
}

.rel-right {
  position: relative;
  right: 0;
}

.abs-center {
  position: absolute;
  right: 0;
}

.z-top {
  z-index: 999999;
}

.font-size-0100 {
  font-size: 1rem;
}

.font-size-0125 {
  font-size: 1.25rem;
}

.font-size-0150 {
  font-size: 1.5rem;
}

.font-family-signature {
  font-family: "Dawning of a New Day", cursive;
}

.font-family-quote {
  font-family: "Homemade Apple";
}

.fnt-size-tiny {
  font-size: 14px;
}

.hover-strong:hover {
  font-weight: bold;
}

.empty-box {
  width: 500px;
  height: 300px;
}

.sub-1 {
  padding: 10px 50px;
  width: 100%;
}
