body {
  overflow: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

textarea, pre {
  -moz-tab-size: 4;
  tab-size: 4;
}

.brand {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bolder;
  font-family: "Varela Round", sans-serif;
}

.brand.admin {
  color: deeppink;
}


.brand:hover {
  color: dimgray;
  text-decoration: none;
}

.no-display {
  display: none;
}

.ops-dialog {
  min-height: 50vh;
  min-width: 50vw;
}

.size-fixed {
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: lightgray;
  text-decoration: none;
}

.no-link {
  color: black;
}

.no-link:hover {
  color: black;
  text-decoration: none;
}

.grid-row {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.btn-none {
  background-color: transparent;
  border: none;
  padding: 0;
}

.border-black {
  border: 1px solid black;
}

.border-basic {
  border: 2px solid lightgray;
}

.w-1 {
  width: 1rem !important;
}

.w-10 {
  width: 10% !important;
}


.h-10 {
  height: 10% !important;
}

.abs-right {
  position: absolute;
  right: 0;
}

.rel-right {
  position: relative;
  right: 0;
}

.z-top {
  z-index: 999999;
}

.font-size-0100 {
  font-size: 1rem;
}

.font-size-0125 {
  font-size: 1.25rem;
}

.font-size-0150 {
  font-size: 1.5rem;
}

.font-family-signature {
  font-family: "Dawning of a New Day", cursive;
}

.font-family-quote {
  font-family: "Homemade Apple";
}

.fnt-size-tiny {
  font-size: 14px;
}

.hover-strong:hover {
  font-weight: bold;
}

.empty-box {
  width: 500px;
  height: 300px;
}

.sub-1 {
  padding: 10px 50px;
  width: 100%;
}

.scrollable {
  overflow: scroll;
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

